h1{
    text-align: center;
}
body{
    background:url("http://www.51pptmoban.com/d/file/2013/02/25/af1a9c54cd3c4007f395ecc6e66bd6a6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color:red;
    font-family: 'Courgette', cursive;
}
img{
    border:dashed;
    width:140px;
    height:220px;
}
input{
    border-radius:30px;
}
button{
    border-radius: 22.5px;
    font-family: 'Courgette', cursive;
}